/* Denne fila har bare midlertidig navn alternativ.css. Når overgangen er god kan den bytte navn */
img {
  max-width: 100%;
}

nav {
  width: 100%;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;

}

nav li a  {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #111;
}

nav a.active {
    background-color: SkyBlue;
}

#toaliste {
  margin-top: 20px;
  margin-left: 10px;
  text-align: left;
  list-style-type: none;
}


@media screen and (max-width:750px) {

  .main {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .intro {
    text-align: center;
  }

  .lavs {
    margin-top: 30px;
    text-align: center;
  }

  #map {
    height: 450px;
    width: 100%;
  }

  #widget {
    margin-top: 30px;
    text-align: center;
  }
}

@media screen and (min-width: 750px) {

  .main {
    display: flex;
    width: 100%;
    flex-direction: row;
  }

  .intro {
    width: 40%;
    height: 100%;
    text-align: center;
  }

  .image {
    width: 60%;
    height: 100%;
  }

  .lavs {
    width: 60%;
    margin-top: 30px;
    text-align: center;
  }

  #map {
          height: 600px;
          width: 100%;
  }

  #widget {
    width: 60%;
    height: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 1400px) {

  .main {
    display: flex;
    width: 100%;
    flex-direction: row;
  }

  .intro {
    width: 40%;
    height: 100%;
    text-align: center;
  }

  .image {
    width: 60%;
    height: 100%;
  }

  .lavs {
    width: 40%;
    margin-top: 30px;
    text-align: center;
  }

  #map {
          height: 750px;
          width: 100%;
  }

  #widget {
    width: 60%;
    height: 100%;
    text-align: center;
  }
}
