
img {
  max-width: 100%;
}

.nav {
  width: 100%;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: SkyBlue;
}

@media screen and (max-width:750px) {

  .Intro {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .image {
    display: table-row;
    vertical-align: top;
    width: 100%;
    padding: 14px 16px;
  }

  #Velk {
    display: table-row;
    vertical-align: top;
    width: 30%
    text-align: center;
    padding: .5rem;
    font-size: 2.0rem;
    font-family: "Trebuchet MS", Verdana, sans-serif;
  }

}

@media screen and (min-width: 750px) {
  .Intro {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .image {
    display: table-cell;
    width: 70%;
    vertical-align: middle;
    padding: 14px 16px;
  }

  #Velk {
    display: table-cell;
    width: 30%
    vertical-align: middle;
    text-align: center;
    padding: .5rem;
    font-size: 2.5rem;
    font-family: "Trebuchet MS", Verdana, sans-serif;
  }
}
